* {
    box-sizing: border-box;
}

div#container {
    width: 50vw;
    margin: 30vh auto;
    background-color: lightblue;
    border: 1px dotted blue;
    padding: 10px;
}

input#passwordInput {
    width: 100%;
    text-align: center;
}

.green {
    color:  green;
}

.red {
    color: red;
}